body {
    /* margin: 0px;
    background-color: rgb(235, 199, 80); */

    background-color: rgb(235, 199, 80);
    opacity: 1;
    background-image: radial-gradient(rgb(7, 7, 7) 1px,rgb(235, 199, 80) 1px);
    background-size: 20px 20px;
    z-index: -1;

}


#pong {
    position: relative;
    top: 0px;
    left: 50%;
    margin-left: -300px;
    z-index: 1;
}

.text {
    position: relative;
    font-family: fantasy;
    font-size: 9em;
    top: 0px;
    left: 50%;
    margin-left: -300px;
    margin-bottom: 0px;

}

